@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello</h1>
<p>
    This customer's name is @Model.Customers[0].Name . And their favorite number is @Model.Customers[0].Id !
</p>