@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello</h1>
<p>
    This customer's name is @Model.Name . And their favorite number is @Model.Id !
</p>