.NavigationItem {
    margin: 0;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.NavigationItem a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    display: block;
    border-bottom: 4px solid transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: #fff;
}
