* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'NTR', sans-serif;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
/**/
.nav-top {
    background-color: #ff6a00;
    height: 50px;
    position: relative;
}
.nav-top ul {
    line-height: 50px;
    width: 80%;
    color: #ffffff;
    display: flex;
    text-align: center;
}
.nav-top ul li {
    height: 100%;
    width: 100%;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    cursor: pointer;
}
.nav-top ul li:hover {
    background-color: #ad4000;
}

.main-body {
    top: 50px;
    height: calc(100vh - 50px);
    width: 100vw;
    padding: 1rem;
    overflow: auto;
    background: url('Images/kiddo.JPG') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
}
#slideout {
    background-color: red;
    /*width: 250px;*/
    width: 0;
    height: calc(100vh - 50px);
    -moz-transition: .3s ease all;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}