{% extends "layout.html" %}

{% block content %}

<ul>
    <li>Files</li>
    <ol>
        <li>Create files on disk</li>
        <li>Delete files on disk</li>
        <li>Rename files on disk</li>
        <li>Move files on disk</li>
        <li>Search for files on disk</li>
        <li>Search inside files on disk</li>
        <li>Upload files</li>
    </ol>
    <li>Directories</li>
    <ol>
        <li>Create directory on disk</li>
        <li>Delete directory on disk</li>
        <li>Rename directory on disk</li>
        <li>Move directory on disk</li>
        <li>Search for directories on disk</li>
        <li>Search inside directories on disk</li>
        <li>Upload directories</li>
    </ol>
</ul>

{% endblock %}
