<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- external -->
    <!--<script src="https://use.fontawesome.com/5901996fbc.js"></script>-->
    <link href="../static/content/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <!-- internal -->
    <link href="../static/content/reset.css" rel="stylesheet" />
    <link href="../static/content/site.css" rel="stylesheet" />

    <title>{{ title }} - My Flask Application</title>
</head>

<body>
    <!--  -->
    <div class="nav">
        <div id="nav-hamburger">
            <i class="fa fa-bars fa-2x left"></i>
        </div>
        <ul class="nav-items right">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ url_for('home') }}">
                    Home
                </a>
            </li>
            <li>
                <i class="fa fa-question"></i>
                <a href="{{ url_for('about') }}">
                    About
                </a>
            </li>
            <li>
                <i class="fa fa-phone"></i>
                <a href="{{ url_for('contact') }}">
                    Contact
                </a>
            </li>
        </ul>
    </div>

    <div>
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }}</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>