<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- external -->
    <!--<script src="https://use.fontawesome.com/5901996fbc.js"></script>-->
    <link href="../static/content/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <!-- internal -->
    <link href="../static/content/reset.css" rel="stylesheet" />
    <link href="../static/content/site.css" rel="stylesheet" />

    <title>{{ title }} - My Flask Application</title>
</head>

<body>
    <!-- NAV -->
    <div class="nav">
        <div id="nav-hamburger">
            <i class="fa fa-bars fa-2x"></i>
        </div>
    </div>
    <!--  -->
    <div class="side-nav left">
        <ul class="nav-items">
            <li>
                <a href="{{ url_for('home') }}">
                    Home
                </a>
            </li>
            <li>
                <a href="{{ url_for('about') }}">
                    About
                </a>
            </li>
            <li>
                <a href="{{ url_for('contact') }}">
                    Contact
                </a>
            </li>
            <li>
                <a href="{{ url_for('fileprojects') }}">
                File Projects
                </a>
            </li>
        </ul>
    </div>
    <!--  -->
    <div class="main-body right">
        {% block content %}{% endblock %}
    </div>
    <div class="clear"></div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>