*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;/*forces inheritance*/
}
html {
    //defines what 1rem will be
    font-size: 62.5%;/*of user defined browser font size*/
}
body {
    box-sizing: border-box;
}